{% extends 'base.html' %}
<!--{% load static %}-->
{% block content %}


        <!-- Hero Start -->
        <div class="container-fluid bg-light py-6 my-6 mt-0">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-7 col-md-12">
                        <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-4 animated bounceInDown">Welcome to <span class="text-primary">KTM CAFIO </span> </small>
                        <h1 class="display-1 mb-4 animated bounceInDown">Order in <span class="text-primary">KTM CAFIO </span>Best Cafe and Restaurant you find </h1>
                        <a href="/menu" class="btn btn-primary border-0 rounded-pill py-3 px-4 px-md-5 me-4 animated bounceInLeft">Order Now</a>
                        <a href="/about" class="btn btn-primary border-0 rounded-pill py-3 px-4 px-md-5 animated bounceInLeft">Know More</a>
                    </div>
                    <div class="col-lg-5 col-md-12">
                        <img src="{% static 'img/hero.png' %}" class="img-fluid rounded animated zoomIn" alt="">
                    </div>
                </div>
            </div>*
        </div>
        <!-- Hero End -->


<!-- About Start -->

<div class="container-fluid py-6">
{% for ab in abouts %}
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5 wow bounceInUp" data-wow-delay="0.1s">
                <img src="{{ ab.image.url }}" class="img-fluid rounded" alt="">
            </div>
            <div class="col-lg-7 wow bounceInUp" data-wow-delay="0.3s">
                <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">About Us</small>
                <h1 class="display-5 mb-4">{{ ab.title }}</h1>
                <p class="mb-4">{{ ab.description }}</p>
                <a href="about" class="btn btn-primary py-3 px-5 rounded-pill">About Us<i class="fas fa-arrow-right ps-2"></i></a>
            </div>

        </div>

    </div>
{% endfor %}

</div>


<!-- About End -- \>




  <!-- Service Start -->
        <div class="container-fluid service py-6">
            <div class="container">
                <div class="text-center wow bounceInUp" data-wow-delay="0.1s">
                    <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">Our Services</small>
                    <h1 class="display-5 mb-5">What We Offer</h1>
                </div>
                <div class="row g-4">
                    {% for serv in service %}
                    <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp" data-wow-delay="0.1s">
                        <div class="bg-light rounded service-item">
                            <div class="service-content d-flex align-items-center justify-content-center p-4">
                                <div class="service-content-icon text-center">
                                    <i class="fa {{serv.icon}} fa-7x text-primary mb-4"></i>
                                    <h4 class="mb-3">{{serv.title}}</h4>
                                    <p class="mb-4">{{serv.description}}</p>
                                </div>
                            </div>
                      </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Service End -->


                <!-- Team Start -->
        <div class="container-xxl pt-5 pb-3">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Team Members</h5>
                    <h1 class="mb-5">Our Teams</h1>
                </div>
                <div class="row g-4">
                    {% for tm in teams %}
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="{{tm.image.url}}" alt="">
                            </div>
                            <h5 class="mb-0">{{tm.name}}</h5>
                            <small>{{tm.designation}}</small>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Team End -->



<!-- Special Items Start -->
<div class="container-fluid menu bg-light py-6 my-6">
    <div class="container">
        <div class="text-center wow bounceInUp" data-wow-delay="0.1s">
            <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">Our Special</small>
            <h1 class="display-5 mb-5">Featured Specials</h1>
        </div>
        <div class="tab-class text-center">
            <div class="tab-content">
                <div id="special-items" class="tab-pane fade show active">
                    <div class="row g-4">
                        {% for special_item in special_items %}
                        <div class="col-lg-6 wow bounceInUp" data-wow-delay="0.1s">
                            <div class="menu-item d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded-circle" src="{{ special_item.image.url }}" alt="">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                        <h4>{{ special_item.name }}</h4>
                                        <h4 class="text-primary">RS {{ special_item.price }}</h4>
                                    </div>
                                    <p class="mb-0">{{ special_item.description }}</p>
                                </div>
                                <div class="menu-action">
                                <a href="/add_to_cart/{{special_item.slug}}" class="btn btn-primary border-0 rounded-pill py-3 px-4 px-md-5 me-4 animated bounceInLeft">Order Now</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="text-center mt-4">
                        <a href="/menu" class="btn btn-primary border-0 rounded-pill py-3 px-4 px-md-5 me-4 animated bounceInLeft">View Full Menu</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Special Items End -->




        <!-- Testimonial Start -->
        <div class="container-fluid py-6">
            <div class="container">

                <div class="text-center wow bounceInUp" data-wow-delay="0.1s">
                    <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">Testimonial</small>
                    <h1 class="display-5 mb-5">What Our Customers says!</h1>
                </div>
                <div class="owl-carousel owl-theme testimonial-carousel testimonial-carousel-1 mb-4 wow bounceInUp" data-wow-delay="0.1s">
                    {% for rev in review %}
                    <div class="testimonial-item rounded bg-light">
                        <div class="d-flex mb-3">
                            <img src="{{ rev.image.url }}" class="img-fluid rounded-circle flex-shrink-0" alt="">
                            <div class="position-absolute" style="top: 15px; right: 20px;">
                                <i class="fa fa-quote-right fa-2x"></i>
                            </div>
                            <div class="ps-3 my-auto">
                                <h4 class="mb-0">{{rev.name}}</h4>
                                <p class="m-0">{{rev.profession}}</p>
                            </div>
                        </div>
                        <div class="testimonial-content">
                            <div class="d-flex">
                                   {% for _ in rev.star_list %}
                                <i class="fas fa-star text-primary"></i>
                            {% endfor %}
                            </div>
                            <p class="fs-5 m-0 pt-3">{{rev.description}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Testimonial End -->


{% endblock %}